.card {
  background: #2a3132;
  max-width: 280px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  color: #e2e2e2;
  font-family: "Inter Tight", sans-serif;
  &__price_listitem {
    list-style-type: none;
  }
}
