.footer {
  &__container {
    font-family: "Inter Tight", sans-serif;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    color: #2a3132;
  }
  &__link {
    text-decoration: none;
    color: #e2e2e2;
  }
}
