* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top right, #90afc5 0%, #336b87 100%);
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
